// ### Primary

$Gradient-1: hsl(6, 100%, 80%);
$Gradient-2: hsl(335, 100%, 65%);

// ### Neutral

$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Very-Dark-Blue: hsl(229, 57%, 11%);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-color: $Very-Dark-Blue;
  background-image: url(../images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;

  @media only screen and (max-width: 900px) {
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
    background-position: center;
  }
}
.container {
  width: 90rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 3rem;
  margin-top: -5rem;
  @media only screen and (max-width: 900px) {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  &__item {
    padding: 2rem;
    background-color: $Dark-Blue;
  }
  &__item-1 {
    border-radius: 1rem;
    border-top-right-radius: 10rem;
    display: grid;
    grid-template-rows: 3fr 2fr;
    align-items: start;
    padding: 4rem;

    .icons {
      grid-row: 2/3;
      display: grid;
      width: 70%;
      height: 5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      & > * {
        background: $Very-Dark-Blue;
        justify-self: start;
        align-self: center;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        display: grid;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__item-2 {
    border-radius: 1rem;
    height: 15rem;
    align-self: end;
    display: grid;
    padding: 2rem 4rem;
    align-items: center;
    position: relative;
    .item {
      font-size: 1.4rem;
      color: $Pale-Blue;
      span {
        font-weight: 700;
      }
    }
    .limit {
      align-self: start;
      display: flex;
      justify-content: space-between;
    }
    .bar {
      background: $Very-Dark-Blue;
      height: 60%;
      align-self: center;
      border-radius: 1rem;
      display: grid;
      align-items: center;
      &-grad {
        background-image: linear-gradient(to right, $Gradient-1, $Gradient-2);
        width: 75%;
        height: 70%;
        border-radius: 1rem;
        margin-left: 2.5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .circle {
          height: 1rem;
          width: 1rem;
          border-radius: 1rem;
          background-color: $Pale-Blue;
          margin-right: 0.2rem;
        }
      }
    }
    .left-data {
      position: absolute;
      background-color: white;
      color: $Grayish-Blue;
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1rem 2rem;
      border-radius: 1rem;
      border-bottom-right-radius: 0;
      top: -5rem;
      right: 4.5rem;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      @media only screen and (max-width: 900px) {
        top: 75%;
        right: 25%;
        border-bottom-right-radius: 1rem;
      }
      span:nth-child(1) {
        font-size: 4rem;
        color: $Very-Dark-Blue;
        letter-spacing: 1px;
      }
      span:nth-child(2) {
        display: inline-block;
        transform: translateY(-50%);
      }
      &::after {
        content: "";
        position: absolute;
        border-right: 2rem solid white;
        border-bottom: 2rem solid transparent;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        @media only screen and (max-width: 900px) {
          display: none;
        }
      }
    }
  }
}
